@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@keyframes expanding {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

@keyframes fade-in-left {
    0% { translate: -256px 0px; opacity: 0; height: 0; }
    100% { translate: 0px 0px; opacity: 1; height: auto; }
}

@keyframes margin {
    0% { padding-top: 0px; }
    100% { padding-top: 10px; }
}

@keyframes fade-in-right {
    0% { translate: 256px 0px; opacity: 0; height: 0; }
    100% { translate: 0px 0px; opacity: 1; height: auto; }
}

body {
    background: black;
    margin: 0 auto;
    padding: 0;
    color: white;
    font-family: 'Indie Flower';
    overflow-x: hidden;
    position: relative;
}

a {
    text-decoration: none;
}

.font-size-5 {
    font-size: 5em;
}

.font-size-10 {
    font-size: 10em;
}

.expanding {
    animation: expanding 2s ease infinite;
}

h1 {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    animation: fade-in-left 1s ease;
    opacity: 0;
    animation-fill-mode: forwards;
    height: 0;
}

.delay-0 {
    animation-delay: 0s !important;
}
.delay-1 {
    animation-delay: 1s !important;
}
.delay-2 {
    animation-delay: 2s !important;
}
.delay-3 {
    animation-delay: 3s !important;
}
.delay-4 {
    animation-delay: 4s !important;
}
.delay-5 {
    animation-delay: 5s !important;
}
.delay-6 {
    animation-delay: 6s !important;
}
.delay-7 {
    animation-delay: 7s !important;
}
.delay-8 {
    animation-delay: 8s !important;
}
.delay-9 {
    animation-delay: 9s !important;
}
.delay-10 {
    animation-delay: 10s !important;
}
.delay-11 {
    animation-delay: 11s !important;
}
.delay-12 {
    animation-delay: 12s !important;
}
.delay-13 {
    animation-delay: 13s !important;
}
.delay-14 {
    animation-delay: 14s !important;
}
.delay-15 {
    animation-delay: 15s !important;
}
.delay-16 {
    animation-delay: 16s !important;
}
.delay-17 {
    animation-delay: 17s !important;
}
.delay-18 {
    animation-delay: 18s !important;
}
.delay-19 {
    animation-delay: 19s !important;
}
.delay-20 {
    animation-delay: 20s !important;
}
.delay-21 {
    animation-delay: 21s !important;
}
.delay-22 {
    animation-delay: 22s !important;
}
.delay-23 {
    animation-delay: 23s !important;
}
.delay-24 {
    animation-delay: 24s !important;
}
.delay-25 {
    animation-delay: 25s !important;
}
.delay-26 {
    animation-delay: 26s !important;
}
.delay-27 {
    animation-delay: 27s !important;
}
.delay-28 {
    animation-delay: 28s !important;
}
.delay-29 {
    animation-delay: 29s !important;
}
.delay-30 {
    animation-delay: 30s !important;
}
.delay-31 {
    animation-delay: 31s !important;
}
.delay-32 {
    animation-delay: 32s !important;
}
.delay-33 {
    animation-delay: 33s !important;
}
.delay-34 {
    animation-delay: 34s !important;
}
.delay-35 {
    animation-delay: 35s !important;
}
.delay-36 {
    animation-delay: 36s !important;
}
.delay-37 {
    animation-delay: 37s !important;
}
.delay-38 {
    animation-delay: 38s !important;
}
.delay-39 {
    animation-delay: 39s !important;
}
.delay-40 {
    animation-delay: 40s !important;
}
.delay-41 {
    animation-delay: 41s !important;
}
.delay-42 {
    animation-delay: 42s !important;
}
.delay-43 {
    animation-delay: 43s !important;
}
.delay-44 {
    animation-delay: 44s !important;
}
.delay-45 {
    animation-delay: 45s !important;
}
.delay-46 {
    animation-delay: 46s !important;
}
.delay-47 {
    animation-delay: 47s !important;
}
.delay-48 {
    animation-delay: 48s !important;
}
.delay-49 {
    animation-delay: 49s !important;
}
.delay-50 {
    animation-delay: 50s !important;
}
.delay-51 {
    animation-delay: 51s !important;
}
.delay-52 {
    animation-delay: 52s !important;
}
.delay-53 {
    animation-delay: 53s !important;
}
.delay-54 {
    animation-delay: 54s !important;
}
.delay-55 {
    animation-delay: 55s !important;
}
.delay-56 {
    animation-delay: 56s !important;
}
.delay-57 {
    animation-delay: 57s !important;
}
.delay-58 {
    animation-delay: 58s !important;
}
.delay-59 {
    animation-delay: 59s !important;
}
.delay-60 {
    animation-delay: 60s !important;
}
.delay-61 {
    animation-delay: 61s !important;
}
.delay-62 {
    animation-delay: 62s !important;
}
.delay-63 {
    animation-delay: 63s !important;
}
.delay-64 {
    animation-delay: 64s !important;
}
.delay-65 {
    animation-delay: 65s !important;
}
.delay-66 {
    animation-delay: 66s !important;
}
.delay-67 {
    animation-delay: 67s !important;
}
.delay-68 {
    animation-delay: 68s !important;
}
.delay-69 {
    animation-delay: 69s !important;
}
.delay-70 {
    animation-delay: 70s !important;
}
.delay-71 {
    animation-delay: 71s !important;
}
.delay-72 {
    animation-delay: 72s !important;
}
.delay-73 {
    animation-delay: 73s !important;
}
.delay-74 {
    animation-delay: 74s !important;
}
.delay-75 {
    animation-delay: 75s !important;
}
.delay-76 {
    animation-delay: 76s !important;
}
.delay-77 {
    animation-delay: 77s !important;
}
.delay-78 {
    animation-delay: 78s !important;
}
.delay-79 {
    animation-delay: 79s !important;
}
.delay-80 {
    animation-delay: 80s !important;
}
.delay-81 {
    animation-delay: 81s !important;
}
.delay-82 {
    animation-delay: 82s !important;
}
.delay-83 {
    animation-delay: 83s !important;
}
.delay-84 {
    animation-delay: 84s !important;
}
.delay-85 {
    animation-delay: 85s !important;
}
.delay-86 {
    animation-delay: 86s !important;
}
.delay-87 {
    animation-delay: 87s !important;
}
.delay-88 {
    animation-delay: 88s !important;
}
.delay-89 {
    animation-delay: 89s !important;
}
.delay-90 {
    animation-delay: 90s !important;
}
.delay-91 {
    animation-delay: 91s !important;
}
.delay-92 {
    animation-delay: 92s !important;
}
.delay-93 {
    animation-delay: 93s !important;
}
.delay-94 {
    animation-delay: 94s !important;
}
.delay-95 {
    animation-delay: 95s !important;
}
.delay-96 {
    animation-delay: 96s !important;
}
.delay-97 {
    animation-delay: 97s !important;
}
.delay-98 {
    animation-delay: 98s !important;
}
.delay-99 {
    animation-delay: 99s !important;
}